    body {
        margin: 0;
        padding: 0;
    }
    
    #map {
        position:absolute;
        right:23%;
        /* top:0; */
        bottom:20%;
        height: 100vh;  
        width: 65%;
    }

    #bottomMenu {
        position:absolute;
        right:23%;
        /* top:0; */
        bottom:0%;
        height: 20%;  
        width: 65%;
        background-color: red;
    }

    
    #rightMenu {
        position:absolute;
        right:0%;
        /* top:0; */
        bottom:0%;
        height: 100vh;  
        width: 23%;
        background-color: blueviolet;

    }


    .map-overlay {
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        position: absolute;
        width: 200px;
        bottom: 20%;
        left: 13%;
        padding: 10px;
    }

    .map-overlay .map-overlay-inner {
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 10px;
        margin-bottom: 10px;
    }