    body {
        margin: 0;
        padding: 0;
    }
    
    #map {
        position:absolute;
        right:23%;
        /* top:0; */
        bottom:20%;
        height: 100vh;  
        width: 65%;
    }

    #bottomMenu {
        position:absolute;
        right:23%;
        /* top:0; */
        bottom:0%;
        height: 20%;  
        width: 65%;
        background-color: red;
    }

    
    #rightMenu {
        position:absolute;
        right:0%;
        /* top:0; */
        bottom:0%;
        height: 100vh;  
        width: 23%;
        background-color: blueviolet;

    }